# Ignore the environment folder
env/
.env
# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-log.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/
